<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Messages with most likes</h1>
      <div class="row">
        <div class="col s6">
          <ul>
            <% for(let i = 0; i < likesCount.length; i++) { %>
              <li>
                <% for(let member in likesCount[i]) { %>
                    <%= member %>: <%= likesCount[i][member] %>
                  <% } %>
              </li>
              <% } %>
          </ul>
        </div>
      </div>
    </div>


  </body>
</html>
